extends layout
block content
    .section
        include breadcrumbs
        .has-margin-top
            +breadcrumbs('breadcrumbs', 'home', 'about')
        .columns
            .column.has-radius.shadowed.is-stretched.has-background-black.is-overflow.disable-selection
                .section
                    .container
                        #Superpower
                            h3.title.is-3.has-text-centered.has-padding Coding Proficencies! 
                            .is-flex.is-row-flexed.has-text-white.is-centered-flex
                                figure.is-col-flexed.is-centered-flex.has-padding.has-margin.has-radius.shadowed
                                    img.image.is-48x48(
                                        src="./res/img/python.png"
                                        alt="python logo"
                                    )
                                    <span class="is-lang"> Python </span>
                                    p.has-text-centered <b>For: </b> <br/>
                                        | Scripting for backend
                                        | logic, terminal applications and
                                        | Server-Side Frameworks like Flask
                                figure.is-col-flexed.is-centered-flex.has-padding.has-margin.has-radius.shadowed
                                    img.image.is-48x48(
                                        src="./res/img/node.png"
                                        alt="node logo"
                                    )
                                    <span class="is-lang"> Javascript/ Node </span>
                                    p.has-text-centered 
                                        <b>For: </b> <br/>
                                        | Full stack web development
                                        | using express, sequelize or mongo as well as
                                        | Front End Frameworks like React, Angular
                                figure.is-col-flexed.is-centered-flex.has-padding.has-margin.has-radius.shadowed
                                    img.image.is-48x48(
                                        src="./res/img/ts.png"
                                        alt="typescript logo"
                                    )

                                    <span class="is-lang"> TypeScript </span>
                                    p.has-text-centered <b>For: </b> <br/>
                                        | writing javascript applications,
                                        | including:<br/> Node.js servers as well as Angular and React SPAs.
                                figure.is-col-flexed.is-centered-flex.has-padding.has-margin.has-radius.shadowed
                                    img.image.is-48x48(
                                        src="./res/img/logo-net.jpg"
                                        alt=".NET logo"
                                    )
                                    <span class="is-lang"> C# / .NET Core </span>
                                    p.has-text-centered <b>For: </b> <br/>
                                        | ASP.NET core for Full Stack
                                        | web-apps as well as SQL Server and Entity Framework Core
                                figure.is-col-flexed.is-centered-flex.has-padding.has-margin.has-radius.shadowed
                                    img.image.is-48x48(
                                        src="./res/img/kisspng-java-development-kit-software-development-kit-comp-programming-language-icon-5b4b9cb1e74f20.0073080715316819699475.jpg"
                                        alt="Java Logo"
                                    )
                                    <span class="is-lang"> Java </span>
                                    p.has-text-centered <b>For: </b><br/>
                                        | Writing Spring Boot for Full stack
                                        | Web apps including REST endpoints, as well as
                                        | some Android Application development through Android Studio
                        #Learn
                            h3.title.is-3.has-text-centered.has-padding Would love to learn!
                            .is-flex.is-row-flexed.has-text-white.is-centered-flex
                                figure.is-col-flexed.is-centered-flex.has-padding.has-margin.has-radius.shadowed
                                    img.image.is-48x48(
                                        src="./res/img/go-lang.jpg"
                                        alt="golang logo"
                                    )
                                    <span class="is-lang">Go</span>
                                    p.has-text-centered <b>For: </b> <br/>
                                        | Creating Web Servers,
                                        | static sites with Hugo 
                                        | and Web assembly for the future.<br/>
                                figure.is-col-flexed.is-centered-flex.has-padding.has-margin.has-radius.shadowed
                                    img.image.is-48x48(
                                        src="./res/img/dart.png"
                                        alt="dart logo"
                                    )
                                    <span class="is-lang"> Dart </span> <br/>
                                    p.has-text-centered <b>For: </b>
                                        | Mobile Application Development and
                                        | Front end web applications
                                figure.is-col-flexed.is-centered-flex.has-padding.has-margin.has-radius.shadowed
                                    img.image.is-48x48(
                                        src="./res/img/scala.png"
                                        alt="scala logo"
                                    )
 
                                    <span class="is-lang">Scala</span>
                                    p.has-text-centered <b>For: </b><br/>
                                        | Developing and working on data collection,
                                        | processing and analysis systems.
                        #Contact
                            h3.title.is-3.has-text-centered.has-padding Links
                            figure.is-row-flexed.is-between.has-radius.shadowed.section
                                a.has-text-light(href="#")
                                    i.fab.fa-facebook-square.fa-4x
                                a.has-text-light(href="#")
                                    i.fab.fa-twitter-square.fa-4x
                                a.has-text-light(href="#")
                                    i.fab.fa-medium.fa-4x

            .column.is-one-fifth.has-margin-top.has-margin-desktop
                .is-sticky
                    .menu.has-background-black.shadowed.has-radius
                        p.menu-label.has-text-white
                            | Properties
                        ul.menu-list
                            li
                                a.has-text-light(
                                    href="#Superpower"
                                ) 🎉 Super-powers
                            li
                                a.has-text-light(
                                    href="#Learn"
                                ) 💡 Future Learning
                            li
                                a.has-text-info(
                                    href="#Contact"
                                ) 💬 Contact


