.hero-footer.is-flex
    footer.footer.is-paddingless.has-background-black.is-shadow-top.is-stretched    
        .has-margin.has-padding.has-text-centered
            p
                strong This site was created 
                    | by:
                span <br/>&copy; Joey Abouharb
                | . <br/>Site Map:
            nav.is-flex.is-between
                a.has-text-white(
                    href="index.pug"
                ) Home
                a.has-text-white(
                    href="blog.pug"
                ) Blog
                a.has-text-white(
                    href="about.pug"
                ) About
                a.has-text-white(
                    href="projects.pug"
                ) Projects
            nav.is-flex.is-between.has-padding

                a(
                    href="#"
                )
                    i.fab.fa-2x.fa-facebook-square.has-text-white
                a(
                    href="#"
                )
                    i.fab.fa-2x.fa-medium.has-text-white
                a(
                    href="#"
                )
                    i.fab.fa-2x.fa-linkedin.has-text-white
                a(
                    href="#"
                )
                    i.fab.fa-2x.fa-twitter-square.has-text-white
