doctype html
html(lang="en")
    if !title || !description
        - var title = 'test'
        - var description = 'test'
    head
        title #{title}
        meta(
            charset="UTF-8"
        )
        meta(
            name="Description"
            content=description
        )
        link(
            href="https://fonts.googleapis.com/css?family=PT+Mono|Merriweather|Montserrat&display=swap"
            rel="stylesheet"
        )
        link(
            rel="stylesheet"
            href="./res/sass/index.sass"
        )
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1"
        )
        body.has-background-dark
            .hero.is-fullheight.is-dark
                    include header
                    block content
                    include footer
            script(type="text/javascript" src="./res/header.js" defer)