extends ../layouts/layout
block content
    main.section
        include ../includes/breadcrumbs
        .has-margin-top.has-background-black.has-slight-radius
            +breadcrumbs('breadcrumbs', 'index', 'about')
        section.has-margin-top
            .columns.is-paddingless.is-marginless
                .column.has-radius.disable-selection.is-paddingless.is-marginless
                    h2.title.is-1.has-padding-left About
                    #superpower
                        h3.title.is-4.has-padding-left
                            | Coding Proficencies
                        #power-section.is-flex.is-row-flexed.has-no-wrap-mobile
                            button#powerback.button.align-self(type="button" aria-label="backward") 
                                i.fas.fa-backward.has-text-light
                            #powerlang.lang-slides.is-flex.is-row-flexed.has-margin-top.has-no-wrap-mobile
                                figure.is-flex.is-row-flexed.has-padding.has-slight-radius.shadowed
                                    .is-flex.is-col-flexed.flexed-to-start
                                        img.image.power-img(
                                            src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2.0/logos/python.svg"
                                            alt="python logo"

                                        )
                                        p.is-lang Python
                                    p.lang-info <b>For: </b> 
                                        | Terminal Scripting
                                        | and
                                        | Server-Side Frameworks like Flask
                                figure.is-flex.is-row-flexed.has-padding.has-slight-radius.shadowed
                                    .is-flex.is-col-flexed.is-pulled-right
                                        img.image.power-img(
                                            src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2.0/logos/nodejs-icon.svg"
                                            alt="node js logo"
                                        )
                                        p.is-lang JavaScript
                                    p.lang-info <b>For: </b> 
                                        | Full stack web development
                                        | using express and
                                        | Front End Frameworks like React, Angular
                                figure.is-flex.is-row-flexed.has-padding.has-slight-radius.shadowed
                                    .is-flex.is-col-flexed.flexed-to-start
                                        svg.image.power-img.ts-svg(viewbox='0 0 128 128')
                                            path#original-2.cls-2(data-name='original' d='M1.5,63.91v62.5h125V1.41H1.5Zm100.73-5a15.56,15.56,0,0,1,7.82,4.5,20.58,20.58,0,0,1,3,4c0,.16-5.4,3.81-8.69,5.85-.12.08-.6-.44-1.13-1.23a7.09,7.09,0,0,0-5.87-3.53c-3.79-.26-6.23,1.73-6.21,5a4.58,4.58,0,0,0,.54,2.34c.83,1.73,2.38,2.76,7.24,4.86,8.95,3.85,12.78,6.39,15.16,10,2.66,4,3.25,10.46,1.45,15.24-2,5.2-6.9,8.73-13.83,9.9a38.32,38.32,0,0,1-9.52-.1,23,23,0,0,1-12.72-6.63c-1.15-1.27-3.39-4.58-3.25-4.82a9.34,9.34,0,0,1,1.15-.73L82,101l3.59-2.08.75,1.11a16.78,16.78,0,0,0,4.74,4.54c4,2.1,9.46,1.81,12.16-.62a5.43,5.43,0,0,0,.69-6.92c-1-1.39-3-2.56-8.59-5-6.45-2.78-9.23-4.5-11.77-7.24a16.48,16.48,0,0,1-3.43-6.25,25,25,0,0,1-.22-8c1.33-6.23,6-10.58,12.82-11.87A31.66,31.66,0,0,1,102.23,58.93ZM72.89,64.15l0,5.12H56.66V115.5H45.15V69.26H28.88v-5A49.19,49.19,0,0,1,29,59.09C29.08,59,39,59,51,59L72.83,59Z')
                                        p.is-lang TypeScript
                                    p.lang-info <b>For: </b> 
                                        | writing javascript applications,
                                        | including Node servers as well as Angular and React SPAs.
                                figure.is-flex.is-row-flexed.has-padding.has-slight-radius.shadowed
                                    .is-flex.is-col-flexed.flexed-to-start
                                        img.image.has-background-white.has-slight-radius.power-img(
                                            src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2.0/logos/dotnet.svg"
                                            alt="dotnet logo"

                                        )
                                        p.is-lang C#
                                    p.lang-info <b>For: </b> 
                                        | ASP.NET core for Full Stack
                                        | web-apps with ADO.NET and Entity Framework Core
                                figure.is-flex.is-row-flexed.has-padding.has-slight-radius.shadowed
                                    .is-flex.is-col-flexed.flexed-to-start
                                        img.image.power-img(
                                            src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2.0/logos/java.svg"
                                            alt="Java Logo"
                                        )
                                        p.is-lang Java
                                    p.lang-info <b>For: </b>
                                        | Writing Spring Boot for Full stack
                                        | Web apps including REST endpoints
                            button#powerforward.button.align-self(type="button" aria-label="forward") 
                                i.fas.fa-forward.has-text-light
                    #learn
                        h3.title.is-4.has-padding-left.has-margin-top Would love to learn!
                        #learn-section.is-flex.is-row-flexed.has-no-wrap-mobile
                            button#learnback.button.align-self(type="button" aria-label="backward") 
                                i.fas.fa-backward.has-text-light
                            #learnlang.lang-slides.has-margin-top.is-flex.is-row-flexed.has-no-wrap-mobile
                                figure.is-flex.is-row-flexed.has-padding.has-slight-radius.shadowed
                                    .is-flex.is-col-flexed.flexed-to-start
                                        img.image.learn-img(
                                            src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2.0/logos/gopher.svg"
                                            alt="golang logo"
                                            )
                                        span.is-lang.has-text-centered Go
                                    p.lang-info <b>For: </b> 
                                        | Creating Web Servers,
                                        | static sites with Hugo 
                                        | and Web assembly for the future.
                                figure.is-flex.is-row-flexed.has-padding.has-slight-radius.shadowed
                                    .is-flex.is-col-flexed.flexed-to-start
                                        img.image.learn-img(
                                            src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2.0/logos/dart.svg"
                                            alt="Dart logo"
                                        )
                                        span.is-lang.has-text-centered Dart 
                                    p.lang-info <b>For: </b>
                                        | Mobile Application Development and
                                        | Front end web applications
                                figure.is-flex.is-row-flexed.has-padding.has-slight-radius.shadowed
                                    .is-flex.is-col-flexed.flexed-to-start
                                        img.image.learn-img(
                                            src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2.0/logos/scala.svg"
                                            alt="scala logo"
                                        )
                                        span.is-lang.has-text-centered Scala
                                    p.lang-info <b>For: </b>
                                        | Developing and working on data collection,
                                        | processing and analysis systems.
                            button#learnforward.button.align-self(type="button" aria-label="forward") 
                                i.fas.fa-forward.has-text-light
                    #history
                        h3.title.is-4.has-padding-left.has-margin-top History
                        .section
                            .columns.has-background-black.shadowed.has-slight-radius.has-padding
                                .column
                                    h4.title.is-5 Education
                                    figure.is-flex.is-centered-flex
                                        img.image.is-fluid.history(
                                            
                                            src="../res/img/method-draw-image(6).svg"
                                            alt="Education History"
                                            )
                                .column
                                    h4.title.is-5 Work
                                    figure.is-flex.is-centered-flex
                                        img.image.is-fluid.history(
                                            src="../res/img/method-draw-image(2).svg"
                                            alt="Education History")
                            .is-flex.is-centered-flex.has-margin-top
                                a.button.is-light(href="../res/Joseph_Abouharb_CV.pdf"  target="_blank") Resume
                    #contact
                        .section
                            h3.title.is-4.has-text-centered.has-padding Links
                            figure.is-flex.is-row-flexed.is-between.has-slight-radius.shadowed.has-background-black
                                a.has-text-light(href="#" aria-label="facebook profile page")
                                    i.fab.fa-facebook.fa-4x
                                a.has-text-light(href="#" aria-label="twitter profile page")
                                    i.fab.fa-twitter.fa-4x
                                a.has-text-light(href="#" aria-label="medium blog page")
                                    i.fab.fa-medium.fa-4x
                                a.has-text-light(href="https://www.linkedin.com/in/joseph-abouharb-2043a4176/" aria-label="linkedIn profile page")
                                    i.fab.fa-linkedin.fa-4x
                                a.has-text-light(href="https://github.com/joeyabouharb" aria-label="github page")
                                    i.fab.fa-github.fa-4x
                aside.column.is-one-fifth.has-margin-top
                    .is-sticky
                        h2.has-text-centered Quick navigation
                        nav.menu.has-background-black.shadowed.has-slight-radius
                            p.menu-label.has-text-white.has-text-centered
                                | About
                            ul.menu-list
                                li
                                    a.has-text-light(
                                        href="#superpower"
                                    ) 🎉 Super-powers
                                li
                                    a.has-text-light(
                                        href="#learn"
                                    ) 💡 Future Learning
                                li
                                    a.has-text-light(
                                        href="#history"
                                    ) 🏫 Education &amp; History
                                li
                                    a.has-text-light(
                                        href="#contact"
                                    ) 💬 Contact
    script(src="../res/js/about-slides.js" defer)


