doctype html
html(lang="en")
    head
        title #{title}
        meta(
            charset="UTF-8"
        )
        meta(
            name="Description"
            content=description
        )
        link(
            href="https://fonts.googleapis.com/css?family=PT+Mono%7CMerriweather%7CMontserrat&display=swap"
            rel="stylesheet"
            type="text/css"
        )

        link(
                href="../res/sass/index.sass"
                type="text/css"
                rel="stylesheet"
        )
        link(
            rel="manifest" href="../res/manifest.webmanifest"
        )
        link(
            rel="icon" href="../res/favicon.ico" type="image/x-icon"
        )
        link(
            rel="shortcut icon" href="../res/favicon.ico" type="image/x-icon"
        )
        link(
            rel="icon" href="../res/profile.png" sizes="256x256"
        )
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1"
        )
        meta(
            http-equiv="Content-Security-Policy"
            content="default-src 'self'; "+
                "style-src 'self' https://fonts.googleapis.com; "+
                "script-src 'self' https://cdnjs.cloudflare.com/ https://ajax.cloudflare.com/;"+
                "font-src 'self' https://fonts.gstatic.com; "+
                "img-src 'self' https://cdn.jsdelivr.net;"
        )
    body.has-background-dark
        .hero.is-fullheight.is-dark
            include ../includes/header
            block content
            include ../includes/footer
        script(src="../res/js/header.js" defer)