.section.is-flex.has-slight-radius.shadowed.has-background-black.has-margin
    footer.footer.is-paddingless.is-stretched.has-background-black.container
        .has-text-centered
            p.has-padding
                strong This site was created 
                    | by:
                <br/>&copy; Joey Abouharb
            nav.is-flex.is-between.foot-links

                a.link.foot-link(
                    href="./index"+ext
                ) Home
                a.link.foot-link(
                    href="./blog"+ext
                ) Blog
                a.link.foot-link(
                    href="./about"+ext
                ) About
                a.link.foot-link(
                    href="./projects"+ext,
                    
                ) Projects
            nav.is-flex.is-between.has-padding
                a.link(
                    href="https://www.facebook.com/joseph.abouharb.1",
                    aria-label="facebook profile page"
                )
                    i.fab.fa-2x.fa-facebook
                a.link(
                    href="https://medium.com/@joey.abouharb",
                    aria-label="medium blog profile page"
                )
                    i.fab.fa-2x.fa-medium
                a.link(
                    href="https://www.linkedin.com/in/joseph-abouharb-2043a4176/"
                    aria-label="LinkedIn profile page"
                )
                    i.fab.fa-2x.fa-linkedin
                a.link(
                    href="https://twitter.com/AbouharbJoey",
                    aria-label="twitter profile page"
                )
                    i.fab.fa-2x.fa-twitter
                a.link(
                    href="https://github.com/joeyabouharb",
                    aria-label="github"
                )
                    i.fab.fa-2x.fa-github
