.hero-footer.is-flex
    footer.footer.is-paddingless.has-background-black.is-shadow-top.is-stretched    
        .has-text-centered
            p.has-padding
                strong This site was created 
                    | by:
                span <br/>&copy; Joey Abouharb
            nav.is-flex.is-between.foot-links

                a.foot-link(
                    href="./index"+ext
                ) Home
                a.foot-link(
                    href="./blog"+ext
                ) Blog
                a.foot-link(
                    href="./about"+ext
                ) About
                a.foot-link(
                    href="./projects"+ext,
                    
                ) Projects
            nav.is-flex.is-between.has-padding
                a(
                    href="#",
                    aria-label="facebook profile page"
                )
                    i.fab.fa-2x.fa-facebook.has-text-light
                a(
                    href="#",
                    aria-label="medium blog profile page"
                )
                    i.fab.fa-2x.fa-medium.has-text-light
                a(
                    href="https://www.linkedin.com/in/joseph-abouharb-2043a4176/"
                    aria-label="LinkedIn profile page"
                )
                    i.fab.fa-2x.fa-linkedin.has-text-light
                a(
                    href="#",
                    aria-label="twitter profile page"
                )
                    i.fab.fa-2x.fa-twitter.has-text-light
                a(
                    href="https://github.com/joeyabouharb",
                    aria-label="github"
                )
                    i.fab.fa-2x.fa-github.has-text-light
