.hero-footer.is-flex
    footer.footer.is-paddingless.has-background-black.is-shadow-top.is-stretched    
        .has-text-centered
            p.has-padding
                strong This site was created 
                    | by:
                span <br/>&copy; Joey Abouharb
            nav.is-flex.justify-evenly.foot-links

                a.foot-link(
                    href="index.pug"
                ) Home
                a.foot-link(
                    href="blog.pug"
                ) Blog
                a.foot-link(
                    href="about.pug"
                ) About
                a.foot-link(
                    href="projects.pug"
                ) Projects
            nav.is-flex.justify-evenly.has-padding
                a(
                    href="#"
                )
                    i.fab.fa-2x.fa-facebook
                a(
                    href="#"
                )
                    i.fab.fa-2x.fa-medium
                a(
                    href="#"
                )
                    i.fab.fa-2x.fa-linkedin
                a(
                    href="#"
                )
                    i.fab.fa-2x.fa-twitter
